<style>.circular--square { border-radius: 50%; display: block; margin-left: auto; margin-right: auto;}</style>
<aside>
	<img class="b30" src="{{site.url}}/images/me.jpg" alt="" height=60px width=auto class="circular--square">
	
	<div class="panel radius">
		<h3>Questions?</h3>
		<p>
			Reach out to Jamie McCullough at <a href="mailto:mccullough.jamie.astro@gmail.com" target="_blank">mccullough.jamie.astro@gmail.com</a> or engage with her <a href="https://github.com/jmccull">github</a>.
		</p>
	</div>


<!-- 	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>
