<aside>
	<div class="panel radius">
		<h3>Questions?</h3>
		<p>
			Reach out to me at <a href="mailto:mccullough.jamie.astro@gmail.com" target="_blank">mccullough.jamie.astro@gmail.com</a>.<br>
			Engage with my <a href="https://github.com/jmccull">github</a>.
		</p>
	</div>

  <img class="b30" src="{{site.url}}/images/me.png" alt="">


<!-- 	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>
